html,
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.calculator-wrapper {
  width: 320px;
  height: auto;
  margin: 20px auto;
  /* outline: 1px solid red; */
}

.display-wrapper {
  width: calc(320px - (16px * 2));
  height: 140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* background-color: chartreuse; */
  /* outline: 1px solid red; */
}
.display-small {
  height: 32px;
  border: 1px solid black;
}
.display-main {
  height: 72px;
  border: 1px solid black;
}

.buttons-wrapper {
  width: 320px;
  padding: 0 16px;
  /* outline: 1px solid red; */
}
.button {
  width: 72px;
  height: 72px;
}
