html,
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  color: var(--black);
}

.calculator-wrapper {
  width: 320px;
  margin: 50px auto 0 auto;
  padding: 30px 0 50px 0;
  border-radius: 15px;
  background-color: var(--white);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  /* outline: 1px solid red; */
}

.display-wrapper {
  width: calc(320px - (16px * 2));
  height: 140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 20px;
  /* outline: 1px solid red; */
}
.display-title {
  height: 20px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  /* border: 1px solid black; */
}
.display-title:after {
  content: '';
  width: 48px;
  display: block;
  margin: 2px auto 0 auto;
  border-bottom: 3px solid var(--light-red);
}
.display-small {
  height: 24px;
  text-align: right;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 0 40px;
  overflow: hidden;
  /* border: 1px solid black; */
}
.display-main {
  height: 54px;
  text-align: right;
  font-size: 54px;
  line-height: 54px;
  padding: 0 40px;
  overflow: hidden;
  /* border: 1px solid black; */
}

.buttons-wrapper {
  width: calc(64px * 4);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  /* outline: 1px solid red; */
}

.patch-wrapper {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.patch-wrapper p,
small {
  color: #999;
}
.patch-wrapper a:hover {
  color: #999;
}
#toggle-patch {
  width: 320px;
  height: 54px;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1em;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  background-color: transparent;
  color: #999;
  border-radius: 999px;
  border: 2px solid #999;
}
#toggle-patch:hover {
  background-color: #999;
  color: var(--dim-white);
  transition: 0.2s ease;
  border: none;
}
#toggle-patch.toggle-true {
  background-color: var(--black);
  color: var(--dim-white);
}

.social {
  position: fixed;
  top: 40%;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-size: 14px;
  font-weight: bold;
}
.footer a:hover {
  color: var(--dark-red);
}

@media only screen and (max-width: 400px) {
  .social {
    right: 10px;
  }
}
